body{
    background-image: url("loc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.container{
    display: grid;
    column-gap: normal;
    color: blue;
}